/*5/11/2018*/
body{
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
}
/*for the header*/
header{
	background-color:#f1f1f1;
}
.menu{
	display:flex;
	margin-top:0px;
	height:auto;
	width:85%;
	padding-bottom:10px
}
.menus{
	display:flex;
	margin-left:50px;
	width:80%;
}
.eleven{
	color:#908989;

}
.phone{
	height:20px;
	margin-left:30px;
}
.menuss{
	display:flex;
	width:10%;
	height:20px;
}
.twitter{
	margin-left:20px;
	height:30px;
	padding-top:15px;
}


/*for the navbar*/
.nav{
   width:30%;
   display:flex;
   padding-left:0px;
}
.logo{
	padding-top:20px;
	height:60px;
	width:30%;
	padding-left:100px;
}
.list{
	display:flex;
	width:50%;
	padding-left:200px;
	margin-left:50px;
}
/* Dropdown Button */
.dropbtn {
    background-color:#ffffff;
    color: #908989;
    padding: 12px;
    font-size: 16px;
    border: none;
	list-style-type:none;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #f1f1f1;}

.parallax { 
    height: 800%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding-bottom:30px;
}

/* writings on blank*/
.first{
	font-size:70px;
	text-align:center;
	color:#ffffff;
	width:90%;
	padding-top:80px;
	padding-left:100px;
}
.cute{
	width:85%;
	height:400px;
	color:#ffffff;
}
.exhaustive{
	font-size:22px;
	padding-left:200px;
	color:#f1f1f1;
	width:80%;
	height:30px;
	text-align:center;
	font-family:sans-serif;
}
.agenda:hover{
	background-color:#0000ff;
}
.agenda{
	font-size:18px;
	color:#ffffff;
	width:10%;
	border-radius:10px;
	background-color:#000099;
	height:50px;
	text-align:center;
	cursor:pointer;
	border:none;
}
/*HOW WE WORK*/
.work{
	text-align:center;
	color:#7f7b7b;
	font-size:21px;
	font-family:courier;
	margin-top:50px;

}
.workk{
	color:#615555;
	font-size:38px;
	text-align:center;
	margin-top:0px;
}
.center{
	text-align:center;
	font-size:21px;
	width:50%;
	margin-left:25%;
	margin-bottom:20px;
	color:#948181;
}
/*three boxes*/
.three{
	width:100%;
	display:flex;
	height:auto;
	margin-top:50px;

}
/*market analysis*/
.box1{
	width:35%;
	margin-left:120px;
	padding:0px 30px;
}
.box1{
  box-shadow:5px 0px 10px 5px #c1c7d6;
}
.one{
	width:30%;
	height:80px;
	margin-top:20px;
}
h3{
	width:100%;
	font-size:24px;
	color:#908989;
	text-align:center;
}
.two{
	text-align:center;
	font-size:20px;
	color:#908989;
	padding-top:20px;
}
/*picture vs writing*/
/*analysis consulting*/
.analysis{
	width:85%;
	display:inline block;
	margin-left:95px;
	margin-top:100px;
	height:auto;
	background-color:#f1f1f1;
	padding:50px 30px;
}
.and{
	display:flex;
}
.feature{
	width:45%;
	height:400px;
}
.feature{
	box-shadow:5px 0px 10px 5px #c1c7d6;
}
.consulting{
	width:55%;
	height:auto;
	margin-left:30px;
	text-align:right;
}
.smile{
	width:100%;
	font-size:32px;
	color:#908989;
	text-align:left;
}
.twoo{
	text-align:left;
	font-size:20px;
	color:#908989;
	padding-top:40px;
}
/*read more*/
.agendaa{
	font-size:18px;
	color:#ffffff;
	padding:10px 20px;
	border-radius:10px;
	background-color:#000135;
	height:50px;
	cursor:pointer;
	outline:none;
}
/*technology and consults*/
.technology{
	display:flex;
	margin-top:40px;
	width:100%;
}
.consults{
	padding:50px 30px;
	width:55%;
}
.twoo{
	text-align:left;
	font-size:20px;
	color:#908989;
	padding-top:20px;
}
.features{
	width:50%;
	height:400px;
    margin-left:100px;
}
.features{
	box-shadow:5px 0px 10px 5px #c1c7d6;
}
/*+++++++*/
.pluses{
	width:100%;
	height:auto;
	margin-top:100px;
	padding-bottom:40px;
}
.plus{
	display:flex;
	width:85%;
	margin-left:80px;
}
.number{
	color:#ffffff;
	font-size:48px;
	margin-left:90px;
	width:20%;
	margin-top:70px;
}
/*satisfied visitors*/
.pluss{
	display:flex;
	margin-top:-25px;
	width:90%;
}
.satisfied{
	color:#ffffff;
	font-size:24px;
	margin-left:110px;
	width:25%;
}
.satisfiedd{
	color:#ffffff;
	font-size:24px;
	margin-left:150px;
	width:25%;
}
.satisfieddd{
	color:#ffffff;
	font-size:24px;
	margin-left:120px;
	width:25%;
}
.satisfiedddd{
	color:#ffffff;
	font-size:24px;
	margin-left:70px;
	width:30%;
}
/*what WE OFFER*/
.three{
	width:90%;
}
.boxx1{
	width:30%;
	margin-left:90px;
	padding:10px 10px;
	
}
.boxx1{
	box-shadow:5px 0px 10px 5px #c1c7d6;
}
.onee{
	width:100%;
	height:250px;
}
.left{
	width:100%;
	font-size:24px;
	color:#908989;
	text-align:left;
}
.twwo{
	text-align:left;
	font-size:20px;
	color:#908989;
	padding-top:20px;
}
/*our mission*/
.analysiss{
	width:90%;
	margin-left:75px;
	margin-top:100px;
	height:auto;
	background-color:#dee7ef;
	padding:50px 30px;
}
.technologyy{
	display:flex;
	margin-top:40px;
	width:100%;
}
.consultss{
	width:50%;
}
.mission{
	width:100%;
	font-size:42px;
	color:#908989;
	text-align:left;
}
.twooo{
	text-align:left;
	font-size:20px;
	color:#908989;
	padding-top:20px;
}
/*TEAM*/
.worrk{
	text-align:center;
	color:#7f7b7b;
	font-size:21px;
	margin-top:100px;
}
.worrkk{
	color:#8d8787;
	font-size:28px;
	text-align:center;
	margin-top:0px;
}
/*members*/
.members{
	width:95%;
	height:auto;
	display:flex;
	margin-top:70px;
	margin-left:50px;
}
.onnee{
	width:80%;
	height:400px;
	margin-left:30px;
}
.leftt{
	width:100%;
	font-size:20px;
	color:#4c4455;
	text-align:center;
}
.co{
	width:100%;
	font-size:18px;
	color:#ccbdbd;
	text-align:center;
	margin-top:0px;
}
/*STAY INFORMED*/
.informed{
	width:100%;
	height:auto;
	margin-top:200px;
	padding-bottom:70px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*NEWSLATTER*/
.news{
	text-align:center;
	color:#ffffff;
	font-size:21px;
	padding-top:100px;
}
.letter{
	color:#ffffff;
	font-size:28px;
	text-align:center;
	margin-top:0px;
}
.centers{
	text-align:center;
	font-size:18px;
	width:50%;
	margin-left:25%;
	margin-bottom:20px;
	color:#ffffff;
}
/*FORM*/
.subscribe{
	margin-top:50px;
	height:70px;
	text-align:center;
}
.place{
	height:30px;
	padding:30px 50px 30px 20px;
	text-align:left;
	border-bottom-left-radius: 100px 100px;
    border-top-left-radius: 100px 100px;
}
.remove{
	padding:20px;
	background-color:#483795;
	color:#ffffff;
	border-bottom-right-radius: 100px 100px;
    border-top-right-radius: 100px 100px;
	cursor:pointer;
	outline:none;
}
/*LATEST CONSULTING*/
.crap{
	margin-top:100px;
}
/*MARKETING HIGH QUALITY SERVICES*/
.quality{
	width:95%;
	height:auto;
	display:flex;
	margin-left:0px;
}
.high{
	width:100%;
	font-size:32px;
	color:#4c4455;
	text-align:left;
}
.low{
	text-align:left;
	font-size:18px;
	color: #c1c7d6;
	padding-top:0px;
}
.marketing{
	width:25%;
	margin-left:80px;
	padding:0px 20px;
}
.marketing{
	box-shadow:5px 0px 10px 5px #c1c7d6;
}
/*calender and article*/
.flat{
	width:100%;
	display:flex;
	padding-bottom:20px;
}
.stage{
	color:#c8c6d6;
	width:60%;
	margin-top:10px;
}
.calender{
	width:10%;
	height:80%;
	color:#aca2a2;
}
/*READ MORE*/
a {
    text-decoration: none;
    display: inline-block;
	padding:10px;
	width:40%;
}
a:hover {
    background-color: #ddd;
    color: black;
}
.next {
    background-color: #ffffff;
    color: #828cc7;
}
/*footer1*/
.footer{
	width:100%;
	height:auto;
	background-color:#f1f1f1;
	margin-top:100px;
	padding-bottom:30px;
}
/*icons*/
.log{
	width:85%;
	height:200px;
	padding-top:70px;
	margin-left:90px;
}
.icon{
	width:15%;
	margin-left:50px;
}
/*footer2*/
.lg{
	margin-top:20px;
	height:60px;
	width:200px;
}
.line1{
	width:25%;
	display:inline-block;
	margin-left:100px;
}
.line{
	width:100%;
	display:flex;
}
.footp{
	font-size:24px;
	color:#ccbdbd;
	font-family:Arial Narrow;
}
/*social media icons*/
.facebook{
	display:flex;
	width:100%;
}
.face{
	width:100%;
	margin-left:0px;
	height:50px;
	border-radius:50px;
}
/*quick links*/
.quick{
	margin-top:20px;
	width:40%
}
.five{
	padding-left:30px;
	font-size:20px;
	color:#6e6f80;
}
.all{
		margin-left:30px;
}
.links{
	width:100%;
	display:flex;
	margin-left:10px;
	margin-top:-5px;
	font-size:20px;
	
}
.awesome{
	width:45%;
	display:inline-block;
}
.awesome2{
	width:45%;
	margin-left:10px;
	display:inline-block;
}
/*links*/
.link{
    background-color:#f1f1f1;
	text-decoration: none;
}
/*Get in Touch*/
.touch{
	width:30%;
	margin-left:40px;
	padding-top:20px;
	display:inline-block;
}
.links{
	color:#908989;
}
/* iconss*/
.browser{
	width:100%;
	display:flex;
}
.web{
	width:10%;
	display:inline-block;
	padding-left:30px;
	padding-top:0px;
}
.awesome3{
	margin-left:10px;
	display:inline-block;
}
.linkss{
font-size:20px;	
display:inline-block;
width:90%;
color:#908989;
font-family:Arial Narrow;
}
.took{
	line-height:3.0;
}
.too{
	line-height:5.0;
}
.take{
	line-height:1.6;
}
.to{
	line-height:3.2;
}
.taken{
	line-height:3.0;
}
/*ACTUAL FOOTER*/
footer{
	background-color:#363359;
	color:#908989;
	height:100px;
	width:100%;
}
.flex{
	display:flex;
	width:100%;
	padding-top:30px;
}
.seclast{
	margin-left:50px;
	width:40%;
}
.copy{
	text-align:center;
	color:#908989;
}
.copied{
	text-align:right;
	width:50%;
}
